body {
    background-color: black;
}

.wd-text-white {
    color: white;
}

.wd-border-color {
    border-style: solid;
    border-color: rgb(47, 51, 54);
}

.wd-margin-left-16 {
    margin-left: 16px;
}

.wd-relative-pos {
    position: relative;
}

.wd-absolute-pos {
    position: absolute;
}